{% include 'top.html' %}
<a href="{% url 'index' %}" class="btn btn-outline-dark">Zpět</a>
<h2>Herec: {{ actor.name }}</h2>
<ul class="list-group">
    {% for movie in movies %}
        <li class="list-group-item"><a href="{% url "movie" movie.csfd_id %}">{{ movie.name }}</a></li>
    {% endfor %}
</ul>
{% include 'bottom.html' %}
