{% include 'top.html' %}
    <form method="get">
        <div  class="input-group">
            <input type="text" class="form-control" name="search" value="{{ search }}"/>
            <button class="btn btn-outline-secondary" type="submit">Hledat</button>
        </div>
    </form>
    <h2>Filmy</h2>
    <ul class="list-group">
        {% for movie in movies %}
            <li class="list-group-item"><a href="{% url 'movie' movie.csfd_id %}">{{ movie.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Herci</h2>
    <ul class="list-group">
        {% for actor in actors %}
            <li class="list-group-item"><a href="{% url 'actor' actor.csfd_id %}">{{ actor.name }}</a></li>
        {% endfor %}
    </ul>
{% include 'bottom.html' %}
