{% include 'top.html' %}
<a href="{% url 'index' %}" class="btn btn-outline-dark">Zpět</a>
<h2>Film: {{ movie.name }}</h2>

<ul class="list-group">
    {% for actor in actors %}
        <li class="list-group-item"><a href="{% url "actor" actor.csfd_id %}">{{ actor.name }}</a></li>
    {% endfor %}
</ul>
{% include 'bottom.html' %}
